<h1>Card <%= @card.id %> </h1>

<table>
  <thead>
    <tr>
      <th>Original text</th>
      <th>Translated text</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @card.original_text %></td>
      <td><%= @card.translated_text %></td>
    </tr>
  </tbody>
</table>
