<h1>Cards</h1>

<table>
  <thead>
    <tr>
      <th>Original_text</th>
      <th>Translated_text</th>
      <th>Review_date</th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.original_text %></td>
        <td><%= card.translated_text %></td>
        <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
